<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="shortcut icon" type="image/x-icon" href='img/icon.jpg'/>
    <link rel="stylesheet" href='style.css'>
    <title>Админ панель</title>
</head>
<body>
    <content>
        <div class="buttons unselectable">
            <div class="button" id="btn">
                <img src='img/account.svg' alt="icon" class="icon">
                <span>Клиенты</span>
            </div>
            <div class="button" id="btn">
                <img src='img/money.svg' alt="icon" class="icon">
                <span>Пополнения</span>
            </div>
            <div class="button" id="btn">
                <img src='img/external.svg' alt="icon" class="icon">
                <span>Вывод</span>
            </div>
            <div class="button" id="btn">
                <img src='img/percent.svg' alt="icon" class="icon">
                <span>Проценты</span>
            </div>
            <div class="button" id="btn">
                <img src='img/settings.svg' alt="icon" class="icon">
                <span>Настройки</span>
            </div>
        </div>
        <div class="info">
            <table>
                <tr class="header">
                    <td>ID</td>
                    <td>Номер телефона</td>
                    <td>Дата регистрации</td>
                    <td>Кошелек PM</td>
                    <td>Баланс</td>
                    <td>Инвестиция</td>
                </tr>
                <tr class="user">
                    <td>ID</td>
                    <td>Номер телефона</td>
                    <td>Дата регистрации</td>
                    <td>Кошелек PM</td>
                    <td>Баланс</td>
                    <td>Инвестиция</td>
                </tr>
            </table>
        </div>
    </content>
    </div>

<script src='script.js'></script>
</body>
</html>