<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/icon.jpg') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='toast.css') }}">
    <script src="{{ url_for('static', filename='jquery-3.6.0.js') }}"></script>
    <title>Админ панель</title>
</head>
<body>
    <content>
        <div class="buttons unselectable">
            <div class="button" id="btn-clients">
                <img src="{{ url_for('static', filename='img/account.svg') }}" alt="icon" class="icon">
                <span>Клиенты</span>
            </div>
            <div class="button" id="btn-payments">
                <img src="{{ url_for('static', filename='img/money.svg') }}" alt="icon" class="icon">
                <span>Пополнения</span>
            </div>
            <div class="button" id="btn-out">
                <img src="{{ url_for('static', filename='img/external.svg') }}" alt="icon" class="icon">
                <span>Вывод</span>
            </div>
            <div class="button" id="btn-settings">
                <img src="{{ url_for('static', filename='img/settings.svg') }}" alt="icon" class="icon">
                <span>Настройки</span>
            </div>
            <div class="button save" id='btn-save' current-table=''>
                <img src="{{ url_for('static', filename='img/save.svg') }}" alt="icon" class="icon">
                <span>Сохранить</span>                
            </div>
        </div>
        <div class="info">
            <h1 id="header"></h1>
            <table id="table-data">
            </table>
        </div>
    </content>
    </div>

<script src="{{ url_for('static', filename='toast.min.js') }}"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>